<div class="ui fixed menu">
    <div class="ui container">
      <a class="header item" routerLink="/dashboard">Vitkar GL</a>
      <a class="item" routerLink="/dashboard">Dashboard</a>
      <div class="ui simple dropdown item">
        Masters <i class="dropdown icon"></i>
        <div class="menu dropdown">
          <a class="item" routerLink="/accounts">Accounts</a>
          <a class="item">General Journals</a>
        </div>
      </div>
    </div>
</div>

<div class="ui main container">
  <router-outlet></router-outlet>
</div>
