
  <div class="ui block header">
    <h3>Dashboard</h3>
  </div>

<div class="ui cards">
  <div class="card">
    <div class="content">
      <i class="right floated like icon"></i>
      <i class="right floated star icon"></i>
      <div class="header">Accounts</div>
      <div class="description">
        <p>There are 121 accounts.</p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <i class="right floated like icon"></i>
      <i class="right floated star icon"></i>
      <div class="header">General Journals</div>
      <div class="description">
        <p>There are 5 journal entries.</p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <i class="right floated like icon"></i>
      <i class="right floated star icon"></i>
      <div class="header">Sales Journals</div>
      <div class="description">
        <p>There are 33 sales entries.</p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <i class="right floated like icon"></i>
      <i class="right floated star icon"></i>
      <div class="header">Purchase Journals</div>
      <div class="description">
        <p>There are 29 sales entries.</p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
    </div>
  </div>
</div>