
  <div class="ui mini borderless menu">
    <div class="item">
      <h3>Accounts</h3>
    </div>
    <div class="right menu item">
      <div class="ui basic mini buttons">
        <button class="ui button">New</button>
        <button class="ui button">Edit</button>
        <button class="ui button">Remove</button>
      </div>
    </div>
  </div>

  <table class="ui selectable very compact small green table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12230</td>
        <td>Account Receivable</td>
        <td>AccountReceivable</td>
        <td>Detail</td>
      </tr>
    </tbody>
    <tfoot>
      <tr><th>3 People</th>
      <th>2 Approved</th>
      <th></th>
      <th></th>
    </tr></tfoot>
  </table>